:root{
  --color1 : #7d7dc6;
}
body{
  font-family: 'Quicksand', sans-serif;
  color:var(--color1);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

button {
  color: var(--color1);
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--color1);
  color: #fff;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  font-size:1.2rem;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}


.fill:hover, .fill:focus {
  box-shadow: inset 0 0 0 2em var(--color1);
}
